Backend/agentes/brief-to-requirements.json
{
  "name": "brief-to-requirements",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "brief-to-requirements",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2752,
        96
      ],
      "id": "cf717184-71f9-49dd-844b-22e178a6ae78",
      "name": "Webhook",
      "webhookId": "73d4e084-1bd2-4175-982e-1e7b84f0aaaa"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "54d37170-06ca-46c4-8137-a36aa97a7cce",
              "name": "run_id",
              "value": "={{ $json.body.run_id }}",
              "type": "string"
            },
            {
              "id": "7c1b204d-9a28-4763-8d0f-bdc34396d19b",
              "name": "is_feedback",
              "value": "={{ $json.body.is_feedback }}",
              "type": "string"
            },
            {
              "id": "381a0fd4-453c-4ff6-88a7-e99050f52fc5",
              "name": "feedback",
              "value": "={{ $json.body.feedback }}",
              "type": "string"
            },
            {
              "id": "f68fba2d-e1c8-4703-9940-af082ada77b3",
              "name": "context",
              "value": "={{ $json.body.context }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2544,
        96
      ],
      "id": "7c4dbf87-8cb0-4e27-b0a3-3a775a8d1d6a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Eres STATELESS.\n\nINPUT:\n{\n  \"context\": {{ $json.context }}\n  \"is_feedback\": {{ $json.is_feedback }},\n  \"feedback\": {{ $json.feedback }}\n}\n\nOBJETIVO:\nGenerar o actualizar el artefacto de análisis de requerimientos.\n\nINSTRUCCIONES:\n\nSi is_feedback es false:\n- Analiza el brief en context.\n- Refina el problema de negocio.\n- Identifica dominios.\n- Propón candidatos a bounded contexts.\n- Enumera dependencias externas.\n- Declara supuestos.\n- Genera preguntas de clarificación si existen ambigüedades.\n\nSi is_feedback es true:\n- Modifica el artefacto BA previo presente en context.\n- Aplica estrictamente el feedback.\n- Mantén coherencia estructural.\n\nREGLAS DE LOG OBLIGATORIAS:\n\n1. changes_made debe estar siempre diligenciado.\n2. Si es creación inicial:\n   added = [\"Creación inicial del análisis de requerimientos\"]\n3. Si hay cambios:\n   - Listar dominios añadidos/eliminados\n   - Cambios en problema refinado\n   - Supuestos agregados o removidos\n\n4. justification debe:\n   - Explicar criterios de delimitación de dominios.\n   - Justificar identificación de bounded contexts.\n   - Referenciar complejidad de super app.\n   - Tener mínimo 3 oraciones técnicas.\n\nOUTPUT OBLIGATORIO:\n\n{\n  \"artifact\": {\n    \"problem_statement_refined\": \"\",\n    \"identified_domains\": [],\n    \"core_capabilities\": [],\n    \"external_dependencies\": [],\n    \"assumptions\": []\n  },\n  \"changes_made\": {\n    \"added\": [],\n    \"removed\": [],\n    \"modified\": []\n  },\n  \"justification\": \"\"\n}\n\nNo incluir texto fuera del JSON.",
        "options": {
          "systemMessage": "Eres un Business Analyst Senior especializado en ecosistemas de Super Apps \n(fintech, logística, mensajería, movilidad, plataformas multi-servicio)."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -2368,
        96
      ],
      "id": "337b6edf-b7f3-4175-b05e-4ab6f15a05db",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://host.docker.internal:8000/callbacks/agent/{slug}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "run_id",
              "value": "={{$node[\"Webhook\"].json[\"body\"][\"run_id\"]}}"
            },
            {
              "name": "content",
              "value": "={{$json}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1760,
        96
      ],
      "id": "91e46b35-3e1e-4b72-a1c5-1dc10badea3b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-scout-17b-16e-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -2368,
        288
      ],
      "id": "127106aa-1c37-4826-88c3-a9af2ac562a9",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "6W1kVDttCFtf5042",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Capturamos el contenido\nconst raw = $json.text ?? $json.message ?? $json.content ?? $json.output ?? $json.data ?? $json;\n\nif (typeof raw !== \"string\") {\n  return [{ json: raw }];\n}\n\nlet cleaned = raw.trim();\n\n// 1. Limpieza básica de Markdown\ncleaned = cleaned.replace(/```json/g, \"\").replace(/```/g, \"\").trim();\n\nconst firstBrace = cleaned.indexOf(\"{\");\nif (firstBrace === -1) {\n  throw new Error(\"No se encontró ninguna llave de apertura '{'.\");\n}\n\n// 2. Lógica de balanceo para encontrar la llave de cierre CORRECTA\nlet lastBrace = -1;\nlet stack = 0;\nlet foundFirst = false;\n\nfor (let i = firstBrace; i < cleaned.length; i++) {\n  if (cleaned[i] === '{') {\n    stack++;\n    foundFirst = true;\n  } else if (cleaned[i] === '}') {\n    stack--;\n  }\n\n  // Cuando el contador vuelve a 0, hemos encontrado el cierre del objeto principal\n  if (foundFirst && stack === 0) {\n    lastBrace = i;\n    break;\n  }\n}\n\nif (lastBrace === -1) {\n  throw new Error(\"No se pudo encontrar una estructura de JSON balanceada.\");\n}\n\n// Extraemos solo lo que está entre las llaves balanceadas\nconst jsonString = cleaned.substring(firstBrace, lastBrace + 1);\n\ntry {\n  const parsed = JSON.parse(jsonString);\n  return [{ json: parsed }];\n} catch (err) {\n  throw new Error(\n    \"Error al parsear el JSON balanceado. Contenido extraído:\\n\" +\n    jsonString.slice(0, 500)\n  );\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1968,
        96
      ],
      "id": "4ff4bbd7-caf5-4b47-a069-1d03c52a7f08",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ebcf089b-416d-41b7-b8a8-9ec600eed4ed",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b2c602997e13032fa05ecc33deb70e2fbde4447f9b25778661244630cfd2b3a6"
  },
  "id": "UkqywLzTmxTZ4nl8",
  "tags": []
}