Backend/agentes/inception.json
{
  "name": "inception",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "inception",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2096,
        256
      ],
      "id": "ec785d18-d40e-40cf-b3b6-d6f8bb9195fd",
      "name": "Webhook",
      "webhookId": "73d4e084-1bd2-4175-982e-1e7b84f0aaaa"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "46b38ad8-cb03-4e4c-a034-3396ef1595f1",
              "name": "run_id",
              "value": "={{ $json.body.run_id }}",
              "type": "string"
            },
            {
              "id": "7c1b204d-9a28-4763-8d0f-bdc34396d19b",
              "name": "is_feedback",
              "value": "={{ $json.body.is_feedback }}",
              "type": "string"
            },
            {
              "id": "381a0fd4-453c-4ff6-88a7-e99050f52fc5",
              "name": "feedback",
              "value": "={{ $json.body.feedback }}",
              "type": "string"
            },
            {
              "id": "f68fba2d-e1c8-4703-9940-af082ada77b3",
              "name": "context",
              "value": "={{ $json.body.context }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1888,
        256
      ],
      "id": "c9470aee-372f-4fe9-a82d-2ec1826969ec",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Eres STATELESS.\n\nINPUT:\n{\n  \"context\": {...},\n  \"is_feedback\": boolean,\n  \"feedback\": \"string\"\n}\n\nOBJETIVO:\nGenerar o actualizar un documento de Inception que incluya visión, alcance, arquitectura de alto nivel, matriz de riesgos y especificación de requerimientos funcionales y no funcionales.\n\nINSTRUCCIONES:\n\nSi is_feedback es false:\n- Genera visión del producto.\n- Define alcance (in/out).\n- Identifica stakeholders.\n- Define dirección arquitectónica de alto nivel.\n- Construye matriz de riesgos (Técnico, Regulatorio, Operativo, IA, Plataforma).\n\nSi is_feedback es true:\n- Ajusta artefacto previo según feedback.\n- Actualiza riesgos si corresponde.\n\nREGLAS DE LOG:\n\nSi es creación inicial:\nadded = [\"Creación inicial del documento de Inception y matriz de riesgos\"]\n\nSi hay cambios:\n- Enumerar riesgos agregados/eliminados\n- Cambios en arquitectura de alto nivel\n- Cambios en alcance\n\njustification debe:\n- Explicar criterios de riesgo.\n- Justificar decisiones arquitectónicas.\n- Relacionar con entorno de super app.\n- Mínimo 3 oraciones técnicas.\n\nOUTPUT OBLIGATORIO:\n\n{\n  \"artifact\": {\n    \"product_vision\": \"\",\n    \"scope_in\": [],\n    \"scope_out\": [],\n    \"stakeholders\": [],\n    \"high_level_architecture\": \"\",\n    \"risk_matrix\": [],\n    \"functional_requirements\": [\n      \"id\": \"REQ-F-001\",\n      \"title\": \"...\",\n      \"description\": \"...\",\n    ],\n    \"non_functional_requirements\": [\n      \"id\": \"REQ-F-001\",\n      \"title\": \"...\",\n      \"description\": \"...\",\n    ]\n  },\n  \"changes_made\": {\n    \"added\": [],\n    \"removed\": [],\n    \"modified\": []\n  },\n  \"justification\": \"\"\n}\n\nSolo JSON válido.",
        "options": {
          "systemMessage": "Eres un Product Strategist, ingeniero de requerimientos y Arquitecto Técnico especializado en Super Apps.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1712,
        256
      ],
      "id": "da746a4d-02c2-4991-adf2-b14c5ef00e14",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://host.docker.internal:8000/callbacks/agent/inception",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "run_id",
              "value": "={{$node[\"Webhook\"].json[\"body\"][\"run_id\"]}}"
            },
            {
              "name": "content",
              "value": "={{$json}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1040,
        272
      ],
      "id": "da031819-41a3-4e6b-9f0a-1c7c53c8ae27",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-scout-17b-16e-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -1856,
        464
      ],
      "id": "b28e789d-b27f-47e3-b9d0-9ec1f152a0c6",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "6W1kVDttCFtf5042",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node (JavaScript)\n// Soluciona: \"Unexpected non-whitespace character after JSON...\"\n// Extrayendo el PRIMER JSON completo (objeto o array) por balanceo de llaves/corchetes.\n\nfunction getRaw(item) {\n  const j = item.json ?? {};\n  return j.output ?? j.text ?? j.message ?? j.content ?? j.data ?? j;\n}\n\nfunction extractFirstJsonValue(text) {\n  if (typeof text !== \"string\") text = String(text);\n\n  // Si viene dentro de ```json ... ``` o ``` ... ```, primero intenta sacar el contenido del fence\n  const fence = text.match(/```(?:json)?\\s*([\\s\\S]*?)\\s*```/i);\n  if (fence?.[1]) text = fence[1];\n\n  // Busca inicio de JSON: { o [\n  const startObj = text.indexOf(\"{\");\n  const startArr = text.indexOf(\"[\");\n  let start = -1;\n\n  if (startObj === -1) start = startArr;\n  else if (startArr === -1) start = startObj;\n  else start = Math.min(startObj, startArr);\n\n  if (start === -1) return null;\n\n  // Scanner para encontrar el final exacto del JSON (balanceando y respetando strings)\n  let inString = false;\n  let escape = false;\n  let depth = 0;\n  let opener = text[start];\n  let closer = opener === \"{\" ? \"}\" : \"]\";\n\n  for (let i = start; i < text.length; i++) {\n    const ch = text[i];\n\n    if (inString) {\n      if (escape) {\n        escape = false;\n      } else if (ch === \"\\\\\") {\n        escape = true;\n      } else if (ch === '\"') {\n        inString = false;\n      }\n      continue;\n    }\n\n    if (ch === '\"') {\n      inString = true;\n      continue;\n    }\n\n    if (ch === opener) depth++;\n    else if (ch === closer) depth--;\n\n    if (depth === 0) {\n      return text.slice(start, i + 1).trim();\n    }\n  }\n\n  // Si no cerró, no es JSON completo\n  return null;\n}\n\nfunction safeParseJson(text) {\n  // Limpieza ligera por si vienen comillas “ ”\n  const cleaned = text.replace(/[“”]/g, '\"').replace(/[‘’]/g, \"'\");\n  return JSON.parse(cleaned);\n}\n\n// --- MAIN ---\nconst out = [];\n\nfor (const item of items) {\n  const raw = getRaw(item);\n\n  // Si ya es objeto/array, pásalo directo\n  if (raw && typeof raw === \"object\") {\n    out.push({ json: raw });\n    continue;\n  }\n\n  const txt = String(raw);\n  const jsonStr = extractFirstJsonValue(txt);\n\n  if (!jsonStr) {\n    throw new Error(\n      \"No encontré un JSON completo en el texto. Primeros 300 chars:\\n\" +\n      txt.slice(0, 300)\n    );\n  }\n\n  const parsed = safeParseJson(jsonStr);\n  out.push({ json: parsed });\n}\n\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1248,
        272
      ],
      "id": "e35538d4-2635-401f-b250-b633dfffc96e",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "4977fb89-a4c7-4a2c-82a1-2ac9ab3d25de",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b2c602997e13032fa05ecc33deb70e2fbde4447f9b25778661244630cfd2b3a6"
  },
  "id": "GkF7hvdgIWjk4bES",
  "tags": []
}