backend/agents/brief-to-requirements (1).json
{
  "name": "brief-to-requirements",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "brief-to-requirements",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1232,
        0
      ],
      "id": "1e9a945e-8d13-4df7-8e93-b3a073b77fef",
      "name": "Webhook",
      "webhookId": "73d4e084-1bd2-4175-982e-1e7b84f0aaaa"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7c1b204d-9a28-4763-8d0f-bdc34396d19b",
              "name": "is_feedback",
              "value": "={{ $json.body.is_feedback }}",
              "type": "string"
            },
            {
              "id": "381a0fd4-453c-4ff6-88a7-e99050f52fc5",
              "name": "feedback",
              "value": "={{ $json.body.feedback }}",
              "type": "string"
            },
            {
              "id": "f68fba2d-e1c8-4703-9940-af082ada77b3",
              "name": "context",
              "value": "={{ $json.body.context }}",
              "type": "string"
            },
            {
              "id": "a2a30807-2985-43dd-8388-448d2578d2a3",
              "name": "=uuid",
              "value": "={{ $json.body.uuid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1008,
        0
      ],
      "id": "412ded45-16b9-476a-9d27-bd0374af60e0",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Eres STATELESS.\n\nINPUT:\n{\n  \"context\": {{ $json.context }}\n  \"is_feedback\": {{ $json.is_feedback }},\n  \"feedback\": {{ $json.feedback }}\n}\n\nOBJETIVO:\nGenerar o actualizar el artefacto de análisis de requerimientos.\n\nINSTRUCCIONES:\n\nSi is_feedback es false:\n- Analiza el brief en context.\n- Refina el problema de negocio.\n- Identifica dominios.\n- Propón candidatos a bounded contexts.\n- Enumera dependencias externas.\n- Declara supuestos.\n- Genera preguntas de clarificación si existen ambigüedades.\n\nSi is_feedback es true:\n- Modifica el artefacto BA previo presente en context.\n- Aplica estrictamente el feedback.\n- Mantén coherencia estructural.\n\nREGLAS DE LOG OBLIGATORIAS:\n\n1. changes_made debe estar siempre diligenciado.\n2. Si es creación inicial:\n   added = [\"Creación inicial del análisis de requerimientos\"]\n3. Si hay cambios:\n   - Listar dominios añadidos/eliminados\n   - Cambios en problema refinado\n   - Supuestos agregados o removidos\n\n4. justification debe:\n   - Explicar criterios de delimitación de dominios.\n   - Justificar identificación de bounded contexts.\n   - Referenciar complejidad de super app.\n   - Tener mínimo 3 oraciones técnicas.\n\nOUTPUT OBLIGATORIO:\n\n{\n  \"artifact\": {\n    \"problem_statement_refined\": \"\",\n    \"identified_domains\": [],\n    \"core_capabilities\": [],\n    \"external_dependencies\": [],\n    \"assumptions\": []\n  },\n  \"changes_made\": {\n    \"added\": [],\n    \"removed\": [],\n    \"modified\": []\n  },\n  \"justification\": \"\"\n}\n\nNo incluir texto fuera del JSON.",
        "options": {
          "systemMessage": "Eres un Business Analyst Senior especializado en ecosistemas de Super Apps \n(fintech, logística, mensajería, movilidad, plataformas multi-servicio)."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -784,
        0
      ],
      "id": "725cd787-7f03-497f-bbca-168d5204a6a7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://172.17.0.1:8000/api/n8n/callback",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "artifact_type",
              "value": "requirements"
            },
            {
              "name": "content",
              "value": "={{ $('AI Agent').item.json.output }}"
            },
            {
              "name": "uuid",
              "value": "={{ $('Edit Fields').item.json.uuid }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -208,
        0
      ],
      "id": "9a5b1514-6eff-4eaf-889d-7e5b4454b9f8",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-scout-17b-16e-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -720,
        224
      ],
      "id": "73075bfe-0f69-475f-8068-e698843317ef",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "lMVwz4ZRkH7UC1u6",
          "name": "Groq account 6"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Intenta encontrar el texto del modelo en distintos campos comunes\nconst raw =\n  $json.text ??\n  $json.message ??\n  $json.content ??\n  $json.output ??\n  $json.data ??\n  $json;\n\n// Si no es string, lo devolvemos tal cual\nif (typeof raw !== \"string\") {\n  return [{ json: raw }];\n}\n\nlet cleaned = raw.trim();\n\n// Eliminar bloques ```json ``` si existen\ncleaned = cleaned.replace(/```json/g, \"\");\ncleaned = cleaned.replace(/```/g, \"\");\n\n// Intentar extraer solo el bloque JSON (desde el primer { hasta el último })\nconst firstBrace = cleaned.indexOf(\"{\");\nconst lastBrace = cleaned.lastIndexOf(\"}\");\n\nif (firstBrace === -1 || lastBrace === -1) {\n  throw new Error(\"No se encontró un JSON válido en la respuesta del modelo.\");\n}\n\ncleaned = cleaned.substring(firstBrace, lastBrace + 1);\n\nlet parsed;\n\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (err) {\n  throw new Error(\n    \"El modelo devolvió algo que no es JSON válido. Primeros 500 chars:\\n\" +\n      cleaned.slice(0, 500)\n  );\n}\n\n// Devolvemos el JSON limpio\nreturn [{ json: parsed }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        0
      ],
      "id": "4b5abfd4-e41d-4fc5-9a9a-ff572526722d",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "917698c9-34df-4125-9c44-937c0451f0ee",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "25ee1770c261de73139c36014a95a21fcc2846a4fe303f685f404c9fcee55320"
  },
  "id": "mPTsYZhJl2fDVLcO",
  "tags": []
}